<app-layout>
    <form class="manager-form" nz-form [formGroup]="passwordForm"
          (ngSubmit)="modifyPassword(passwordForm.value)">

        <nz-form-item>
            <nz-form-control nzErrorTip="请输入新密码">
                <nz-input-group nzPrefixIcon="lock">
                    <input type="password" nz-input formControlName="password"
                           placeholder="请输入新密码"/>
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <nz-form-control nzErrorTip="请输入确认密码">
                <nz-input-group nzPrefixIcon="lock">
                    <input type="password" nz-input formControlName="confirmPassword"
                           placeholder="请输入确认密码"/>
                </nz-input-group>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item>
            <button class="btn-modify" nz-button nzType="primary" nzSize="large">修改密码</button>
        </nz-form-item>
    </form>
</app-layout>
