:host {
    width: 100%;
    min-height: 100%;

    nz-select{
        width: 150px;
    }

    .award-list{
        margin: auto;
        width: 400px;

        nz-list-item{
            margin: 0;
            padding: 4px 0;

            span{
                width: 20%;
                font-size: 12px;
                text-align: center;

                &:first-child{
                    width:30%;
                }
            }
        }
    }
}
