<app-layout>
    <form class="query-form" nz-form [formGroup]="queryForm"
          (ngSubmit)="queryLottos()">
        <div nz-row [nzGutter]="24">

            <div nz-col [nzSpan]="6">
                <nz-form-item class="mb0" nzFlex>
                    <nz-form-label nzFor="nickname">昵称</nz-form-label>
                    <nz-form-control>
                        <input id="nickname" nz-input formControlName="nickname"
                               placeholder="请输入昵称"/>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col [nzSpan]="6">
                <nz-form-item class="mb0" nzFlex>
                    <nz-form-label nzFor="title">标题</nz-form-label>
                    <nz-form-control>
                        <input id="title" nz-input formControlName="title"
                               placeholder="请输入活动标题"/>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col [nzSpan]="5">
                <nz-form-item class="mb0" nzFlex>
                    <nz-form-label nzFor="type" title="奖品类型">类型</nz-form-label>
                    <nz-form-control>
                        <nz-select id="type" formControlName="type"
                                   nzAllowClear nzPlaceHolder="请选择类型">
                            <nz-option *ngFor="let item of AwardTypes; index as i;"
                                       [nzLabel]="item" [nzValue]="i"
                                       [nzDisabled]="i < 2"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col [nzSpan]="5">
                <nz-form-item class="mb0" nzFlex>
                    <nz-form-label nzFor="status" title="奖品状态">状态</nz-form-label>
                    <nz-form-control>
                        <nz-select *ngIf="queryForm.value.type === 2" formControlName="status"
                                   nzAllowClear nzPlaceHolder="请选择状态">
                            <nz-option *ngFor="let item of RedPacketStatusMap | keyvalue"
                                       [nzLabel]="item.value" [nzValue]="item.key"></nz-option>
                        </nz-select>

                        <nz-select *ngIf="queryForm.value.type === 3" formControlName="status"
                                   nzAllowClear nzPlaceHolder="请选择状态">
                            <nz-option *ngFor="let item of GoodsStatusMap | keyvalue"
                                       [nzLabel]="item.value" [nzValue]="item.key"></nz-option>
                        </nz-select>

                        <nz-select *ngIf="queryForm.value.type < 2" formControlName="status"
                                   nzAllowClear nzPlaceHolder="请选择状态">
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div nz-col [nzSpan]="2">
                <button class="btn-query" nz-button nzType="primary">查询</button>
            </div>

        </div>
    </form>

    <nz-table [nzData]="lottoPageResult.docs"
              [nzFrontPagination]="false"
              [nzTotal]="lottoPageResult.total"
              [nzPageIndex]="lottoPageResult.page"
              [nzPageSize]="lottoPageResult.limit"
              [nzPaginationPosition]="'both'"
              [nzLoading]="isLoading"
              [nzPageSizeOptions]="[5,10,20,30]"
              [nzShowSizeChanger]="true"
              (nzPageIndexChange)="fetchPageLottos('page', $event)"
              (nzPageSizeChange)="fetchPageLottos('limit', $event)">
        <thead>
        <tr>
            <th>昵称</th>
            <th>活动标题</th>
            <th>活动状态</th>
            <th>奖品名称</th>
            <th>奖品等级</th>
            <th>状态</th>
            <th>创建时间</th>
            <th>更新时间</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let lotto of lottoPageResult.docs">
            <td>{{lotto.user.nickname}}</td>
            <td>{{lotto.activity.title}}</td>
            <td [ngStyle]="{color: ['gray','green','red'][lotto.activity.status]}">
                {{ActivityStatuses[lotto.activity.status]}}
            </td>
            <td [title]="AwardTypes[lotto.award.type]">{{lotto.award.name}}</td>
            <td>{{AwardRanks[lotto.award.rank]}}</td>
            <td>
                <span *ngIf="lotto.award.type === 2">
                    {{RedPacketStatusMap[lotto.attachInfo.status]}}
                </span>
                <span *ngIf="lotto.award.type === 3">
                    {{GoodsStatusMap[lotto.attachInfo.status]}}
                </span>
            </td>
            <td>{{lotto.createTime | date:"yyyy/MM/dd hh:mm"}}</td>
            <td>{{lotto.updateTime | date:"yyyy/MM/dd hh:mm"}}</td>
            <td>
                <button class="btn-send" *ngIf="lotto.award.type === 2 && lotto.attachInfo.status === 1"
                        nz-button nzType="primary" nzSize="small"
                        (click)="sendRedPacket(lotto._id)">发放
                </button>
                <button class="btn-reject" *ngIf="lotto.award.type === 2 && lotto.attachInfo.status === 1"
                        nz-button nzType="danger" nzSize="small"
                        (click)="setStatus(lotto._id, -1)">驳回
                </button>

                <button class="btn-send" *ngIf="lotto.award.type === 3 && lotto.attachInfo.status === 1"
                        nz-button nzType="primary" nzSize="small"
                        (click)="setStatus(lotto._id, 2)">发货
                </button>
                <button class="btn-reject" *ngIf="lotto.award.type === 3 && lotto.attachInfo.status === 1"
                        nz-button nzType="danger" nzSize="small"
                        (click)="setStatus(lotto._id, -1)">驳回
                </button>
            </td>
        </tr>
        </tbody>
    </nz-table>
</app-layout>
