@import "../../../less/vars.less";
@import "../../../less/mixins.less";

:host {
    width: 100%;
    min-height: 100%;
    background-color: #f5f5f5;

    nz-layout {
        width: 100%;
        min-height: 100%;

        .login-main {
            margin-top: 128px;
            border: 1px solid lightcyan;
            border-radius: 6px;
            .box-shadow(0 0 8px lightgray);
            background-color: white;

            .login-title {
                padding: 48px 0 24px;
                font-size: 20px;
                text-align: center;
            }

            .login-form {
                margin: auto;
                max-width: 300px;

                .btn-login {
                    width: 100%;
                }
            }
        }
    }
}
