@import "../../less/vars.less";
@import "../../less/mixins.less";

.login {
    margin-top: 128px;
    border: 1px solid lightcyan;
    border-radius: 6px;
    .box-shadow(0 0 8px lightgray);
    background-color: white;

    .login-title {
        padding: 48px 0 16px;
        text-align: center;
    }

    .login-form {
        margin: auto;
        max-width: 300px;

        .login-form-forgot {
            float: right;
        }

        .login-form-button {
            width: 100%;
        }
    }
}
    