<app-layout>
    <form nz-form [formGroup]="queryForm" (ngSubmit)="queryAwards()">
        <div nz-row [nzGutter]="24">
            <div nz-col [nzSpan]="7">
                <nz-form-item nzFlex>
                    <nz-form-label nzFor="name">名称</nz-form-label>
                    <nz-form-control>
                        <input id="name" nz-input formControlName="name" placeholder="名称"/>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div nz-col [nzSpan]="6">
                <button class="btn-query" nz-button nzType="primary">查询</button>
            </div>
        </div>
    </form>

    <nz-table [nzData]="awardPageResult.docs"
              [nzFrontPagination]="false"
              [nzTotal]="awardPageResult.total"
              [nzPageIndex]="awardPageResult.page"
              [nzPageSize]="awardPageResult.limit"
              [nzPaginationPosition]="'both'"
              [nzLoading]="isLoading"
              [nzPageSizeOptions]="[2,5,10,20,30]"
              [nzShowSizeChanger]="true"
              (nzPageIndexChange)="fetchPageAwards('page', $event)"
              (nzPageSizeChange)="fetchPageAwards('limit', $event)">
        <thead>
        <tr>
            <th>奖品名称</th>
            <th>奖品类型</th>
            <th>创建时间</th>
            <th>更新时间</th>
            <th>操作
                <button class="btn-add" nz-button nzSize="small" (click)="addAward()">添加</button>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let award of awardPageResult.docs">
            <td>{{award.name}}</td>
            <td>{{AwardTypes[award.type]}}</td>
            <td>{{award.createTime | date:"yyyy/MM/dd hh:mm"}}</td>
            <td>{{award.updateTime | date:"yyyy/MM/dd hh:mm"}}</td>
            <td>
                <button nz-button nzSize="small" nzType="primary" (click)="editAward(award)">编辑</button>
                <button nz-button nzSize="small" nzType="danger" style="margin-left: 8px;"
                        (click)="removeAward(award._id)">删除
                </button>
            </td>
        </tr>
        </tbody>
    </nz-table>

    <app-award-modal [type]="type" [visible]="isVisible" [award]="currentAward"
                     (onCancel)="handleModalCancel()"
                     (onOk)="handleModalOk($event)"></app-award-modal>
</app-layout>
